{% extends 'base.html.twig' %}

{% block title %}Hello ServicesController!{% endblock %}

{% block body %}
<div class="entretiens" style="padding: 50px; text-align: center;">
<h2 style="color: #85b7eb;">Entretien et réparation</h2>
<p style="color: white; margin: 0 0 2rem;">Nous proposons nos services d'entretien pour votre véhicule, que ce soit pour la vidange, le freinage , un kit de distribution ou embrayage. N'hésitez pas à faire votre devis en ligne.</p>
<h2 style="color: #85b7eb;">Diagnostic et réparation</h2>
<p style="color: white;">Nous proposons la lecture et l'effacement des codes défaut avec notre outil de diagnostic.</p>
</div>
{% endblock %}
