<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">

		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		{% block stylesheets %}{% endblock %}

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
		<link rel="stylesheet" href="/app.css">

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>

	<body>
		<nav class="navbar flex-column py-2">

			<img src="/assets/img/logo-05.png" alt="Logo" style="width: 80px;">

			<div class="d-flex gap-4 mt-2">
				<a class="nav-link text-white" href="/">Véhicules</a>
				<a class="nav-link text-white" href="/services">Prestations atelier</a>
				<a class="nav-link text-white" href="/services">Prestations Nettoyage</a>
				<a class="nav-link text-white" href="/contact">Contact</a>
			</div>
		</nav>

		{% block body %}{% endblock %}

		<footer class="footer">

			<div class="footer-container">
				<div class="column1">
					<h6>Contact</h6>
					<p>
						<i class="fas fa-map-marker-alt"></i>2 rue du Clos au blé, 76530 Grand Couronne</p>
					<p>
						<i class="fas fa-phone"></i>06 72 38 37 36</p>
					<p>
						<i class="fas fa-envelope"></i>julienautomobiles76@gmail.com</p>

					<h6 class="mt-4">Horaires</h6>
					<p>Lundi - Vendredi :</p>
					<p>Samedi sur Rendez-Vous</p>
				</div>

				<div class="column2">
					<h6>Consulter</h6>
					<p>Véhicules</p>
					<p>Prestations atelier</p>
					<p>Prestations nettoyage</p>
					<p>Contact</p>

					<h6 class="mt-4">Suivez-nous sur nos réseaux</h6>
					<div class="socials">
						<i class="fa-brands fa-facebook"></i>
					</div>
				</div>

				<div class="footer-map">
					<div id="map"></div>
				</div>

			</div>

			<div class="Mentions-legales">
				© 2026 - Julien Automobiles - Mentions légales
			</div>

		</footer>
	</body>
</html>
